# Dependencies
node_modules/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android/IntelliJ
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Metro
.metro-health-check*

# Expo (se usavi Expo in passato)
.expo/
dist/
web-build/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
**/.xcode.env.local

# Typescript
*.tsbuildinfo

# Native folders for Prebuild
/android
/ios
**/Pods/
vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.idea/
.vscode/
